<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'>
<html>
<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8'>
</head>
<body style='background:#E3E3E3;margin:0;padding:0'>
    <table cellpadding='0' cellspacing='0' width='600' style='background:#fff;font-size:14px;font-family:Tahoma,Verdana,Arial,sans-serif;color:#686868; margin:0 auto;'>
        <tr>
            <td>
                <table cellpadding='0' cellspacing='0' style='border-top: 3px solid #f1c40f;border-bottom: 1px solid #E1E1E1;padding:20px' width='600'>
                    <tr>
                        <td width='480' style='width:480px'>
                            <a href='https://www.jobigames.com'>
                                <img src='https://www.jobigames.com/logo.png' height='50' width='160' alt='JobiGames' style='border:none'>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style='width:100%'>
                <table cellpadding='0' cellspacing='0' style='width:100%;text-align:center;color:#686868; '>
                    <tr>
                        <td style='width: 100%;'>
                            <h2 style='font-size: 18px; font-weight: normal; line-height: 27px; margin-top: 20px; margin-bottom: 20px; margin-left: 20px;'>Hi <b><%= name %></b><br></h2>
                        </td>
                    </tr>
                    <tr>
                        <td style='width:100%;background:#00a4ef;color:#fff;font-size:18px; font-weight:bold;padding:20px'>
                            Verify email and get instant access!<br>
                            <br>
                            <table cellpadding='0' cellspacing='0' align='center' style='margin-bottom:10px'>
                                <tr>
                                    <td style='background:#ff9c15;border-radius:5px;padding:20px;color:#fff;' align='center'>
                                        <a href='https://www.jobigames.com/verifyemail?code=<%= code %>' style='color:#fff;font-weight:bold;text-decoration:none;text-transform:uppercase'>Verify email</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style='width:100%;padding:20px;font-size:14px;line-height:20px;'>
                            Confirm registration and get access to all service options. Exciting games, a lot of interesting people and great fun are waiting for you.
                            <p style='font-weight:bold; color:#494949'>Greetings, <br/>JobiGames Team.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding='0' cellspacing='0' style='width:100%;width:100%;background:#28394f;color:#fff;padding:20px'>
                    <tr>
                        <td style='text-align:left;background:#28394f;font-size:12px;color:#fff'>
                            Copyright © <a href='https://www.jobigames.com' style='color:#2ab1f6;text-decoration:none;'>JobiGames</a>. All rights reserved.
                        </td>
                        <!-- Social icons -->
                        <td width='38' style='width:38px;text-align:right;'><a href='http://forum.jobigames.com'><img src='https://static-gamedesire-5xiyx7qxbkcxzzqe.stackpathdns.com/assets/img/mail/social_buttons/gd_forum_icon.118.png' height='29' width='29' alt='forum' style='border:none'></a></td>
                        <td width='38' style='width:38px;text-align:right;'><a href='https://www.facebook.com/jobigames'><img src='https://static-gamedesire-5xiyx7qxbkcxzzqe.stackpathdns.com/assets/img/mail/social_buttons/fb_icon.118.png' height='29' width='29' alt='facebook' style='border:none'></a></td>
                        <td width='38' style='width:38px;text-align:right;'><a href='https://twitter.com/jobigames'><img src='https://static-gamedesire-5xiyx7qxbkcxzzqe.stackpathdns.com/assets/img/mail/social_buttons/twitter_icon.118.png' height='29' width='29' alt='twitter' style='border:none'></a></td>
                        <td width='38' style='width:38px;text-align:right;'><a href='https://www.youtube.com/c/jobigames'><img src='https://static-gamedesire-5xiyx7qxbkcxzzqe.stackpathdns.com/assets/img/mail/social_buttons/youtube_icon.118.png' height='29' width='29' alt='youtube' style='border:none'></a></td>
                        <td width='38' style='width:38px;text-align:right;'><a href='https://www.instagram.com/jobigames'><img src='https://static-gamedesire-5xiyx7qxbkcxzzqe.stackpathdns.com/assets/img/mail/social_buttons/instagram_icon.118.png' height='29' width='29' alt='instagram' style='border:none'></a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding='0' cellspacing='0' style='width:100%;padding:20px; font-size:11px;color:#686868;background:#E3E3E3;'>
                    <tr>
                        <td style='width:50%;text-align:left'>
                            <b style='color:#494949'>Please DO NOT reply to this message.</b><br>If you want to contact us - please <a href='https://www.jobigames.com/contact' style='color:#686868'>click the link</a>.
                        </td>
                        <td style='width:50%;text-align:right'>
                            If you do not wish to receive any emails from our site please <a href='https://www.jobigames.com/account/block-email?pid=72731487&time=1522786635&permission=system&gd_sig=5a1db08bb5d4dac9b856ae17e6e42642' style='color:#686868'>click the link</a>.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
